<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.gym.gym.mapper.QRcodeMapper">


 <!--  UUID 존재 여부  -->
  <select id="selectQRcode" resultType="QRcode">
    SELECT *  
    FROM qr_code
    WHERE user_no = #{userNo}
    ORDER BY created_at DESC
    LIMIT 1
</select>



    </mapper>